<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adivina la bandera</title>
    <link rel="stylesheet" href="/static/css/style.css">
    
</head>
<body>

    <div class="container">
        <div id="bandera"></div>
        <p id="resultado">CORRECTO</p>
        <button id="btnCambiar">Cambiar Pais</button>


        <input type="text" id="userinput">
        <button id="submit">SUBMIT</button>

    </div>
    
</body>
<script src="/static/js/socket.io.min.js"></script>
    <script src="/static/js/script.js"></script>
</html>