<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Adivina la bandera</title>
        <link rel="stylesheet" href="/static/css/style.css">
    
    </head>
    <body>



        <header>
            <p id="titulo">Adivina la bandera:</p>
        </header>
        <div id="puntos"></div>





        <div class="container">
        <div id="bandera"></div>
            <p id="resultadoo">----</p>



        <div id="opciones">

        </div>


        </div>
    
    </body>
    <script>
    window.onbeforeunload =(e)=>{
    console.log(e);
    e.preventDefault();
    e.returnValue = '';
    return;
    };
    </script>
    <script src="/static/js/socket.io.min.js"></script>
    <script src="/static/js/script.js"></script>

    
</html>